@use "../../presets/" as *;

.hero {
    min-height: 604px;
    background: url('.../../../images/hero.png') no-repeat;
    background-size: cover;

    &__title {
        font-size: calc($font-size * 3);
        font-weight: 700;
        color: $color-white;
        padding-top: 17.3%;
    }

    &__text {
        width: 25%;
        font-size: $font-size-sm;
        line-height: 20px;
        color: $color-white;
        padding-top: 4.5%;
        margin-bottom: 3.4%;
    }

    &__link {
        background-color: $color-secondary;
        color: $color-white;
        padding: 0.8% 5.82%;
        border: 2px solid $color-white;
        border-radius: 40px;
    }
}